body{
	color:#1abc9c;
	font-family:Droid Serif;
}

.panel{
	padding-top:78px;
	background-color:transparent;
	border:0px;
}


#home-img{
	background-image:url('https://dl.dropboxusercontent.com/s/gflynp1heysy2oe/mainBg.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	width:100%;
	height:680px;
	display:inline-block;
}

#divider1{
	box-shadow:0 0 50px rgba(0,0,0,0.9);
	background:url(https://dl.dropboxusercontent.com/s/nseuag296cjebbp/stripe.jpg);
	width:100%;
	height:16px;
	top:1000px;
	display:block;
	z-index:1;
}

.navbar{
	background-image:url(https://dl.dropboxusercontent.com/s/u8trp7sfib8t85z/TransparentBg.png);
	background-color:transparent;
	width:100%;
	border-radius:0;
	position:fixed;
	padding:0 20px;
}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color:white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
	color:aqua;
}

.text-centered{
	text-align:center;
}
.jumbotron{
	border-radius:0; padding:0;
	background-color:transparent;
}
.jumbotron-black{
	text-align:center;
	background-color:transparent;
	color:black;
	margin:0;
	border:0px;
}


.main h1, .main p{
	text-shadow: 5px 5px 5px #9D9D9D;
	color:white;
}

.no-margin{
	margin:0;
}

#about{
	text-shadow: 5px 5px 5px black;
	padding-top:1%;
	background-image:url(https://dl.dropboxusercontent.com/s/6m5d0ymlh6rpcqk/aboutBg.jpg);
	color:white;
	background-attachment:fixed;
	background-position:left center;
	background-size:cover;
	width:100%;
	max-width:1920px;
	top:100%;
	height:677px;
}

#about h1{
	text-shadow: 5px 5px 5px #9D9D9D;
	padding-top:4%;
}

.showcase-item{
	height:220px;
	padding:2px;	
		position:static;
}

.showcase-item .showcase-item-box{
	background:/*#111111*/transperant;
	color:#ffffff;
	padding:30px;
	height:100%;
	width:100%;
	text-align:center;
}

.showcase-item-box img{
	width:50%;
	height:80%;
}

#resume{
	padding-top:4%;
	background-image:url(https://dl.dropboxusercontent.com/s/0islcdd6wkd6h11/resumeBg.jpg);
	color:white;
	background-attachment:fixed;
	background-position:left center;
	background-size:100%;
	top:100%;
	padding-bottom:5%;
}

#resume h6, #resume p{
	margin-left:-25px;
	text-shadow: 5px 5px 5px black;
}

ul{
	list-style:none;
	font-size:21px;
}

ol{
	font-size:21px;
}


.resumeInfo{

	text-shadow: 5px 5px 5px black;
	margin-left:10%;
	margin-right:15%;
}



.resumeInfo hr{
	margin-right:10%;
}

#siteInfo{
	color:gray;
	height:30px;
}

#contact{
	text-shadow: 5px 5px 5px gray;
	background-image:url(https://dl.dropboxusercontent.com/s/jdi280oatyaz32t/contactBg.jpg);
	padding-top:1%;
	background-position:center;
	background-size:100%;
	width:100%;
	height:100%;
}

#contact .jumbotron h3 span{
	text-shadow: 5px 5px 5px gray;
	color:maroon;
}

.sharingButtons{
		padding-left:28%;
}

.sharingButtons .showcase-item-box{
	height:100px;
}



.sharingButtons .showcase-item-box h3{
	float:right;
	color:black;
	margin-top:-5px;
}

.sharingButtons .showcase-item-box img{
	margin-top:-20px;
	margin-left:-25px;
	width:80px;
	height:80px;
	}

#contact .mainFooter{
	height:55px;
	background-image:url(https://dl.dropboxusercontent.com/s/f6vegowcoofxoxx/TransparentBg1.png);
	margin-top:2%;
}

#contact .mainFooter p{
	text-shadow: 5px 5px 5px black;
	color:white;
	text-align:center;
	padding-top:15px;
}	
	
@media(max-width:767px){
	
	.jumbotron h1{
		font-size:26px;
		color:black;
	}
	
	.jumbotron p{
		font-size:18px;
		color:white;
	}
	
	.navbar{
		width:100%;
		background-color:gray;
	}
	
	.navbar-default .navbar-brand {
		margin-left:-10%;
	}
	
	#home-img{
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		width:100%;
		height:600px;
		display:inline-block;
	}
	
	#divider1{
		height:8px;
	}
	
	#about h1{
		font-size:26px;
	}
	
	#about p{
		font-size:18px;
	}
	
	#about{
		padding-top:3%;
		background-position:right center;
		background-size:cover;
		width:100%;
		background-repeat:no-repeat;
		height:100%;
		font-size:18px;	
	}
	
	#resume{
		padding-top:17%;
		background-size:cover;
		background-repeat:no-repeat;
		width:100%;
	}
	
	#resume p{
	margin-left:20px;
	}
	
	#resume h4{
		margin-left:-15px;
		font-size:22px;
	}

	#resume p, #resume ul, #resume ol, #resume h6{
		font-size:15px;
	}
	
	#resume .resumeInfo ul{
		margin-left:-20%;
		font-size:15px;
	}
	
	#resume .resumeInfo ol{
		margin-left:-10%;
	}
	
	#siteInfo{
		color:black;
		height:50px;
		font-size:14px;
	}
	
	#contact{
		width:100%;
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	#contact h3{
		font-size:24px;
	}
	#contact img{
		width:30px;
		height:30px;
	}
	
}

